<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style>
        body {
            background-color: #f1f2f6
        }

        ,
        #checkboxs label input {
            margin: 28px
        }

        .loader {
            background: white;
            display: block;
            margin-left: 25%;
            margin-top: 5%;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
              position: fixed;

        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>

</head>

<body>
    <div class="container">

        <ul class="nav nav-black nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">PTL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Admin Aktivasi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Admin Aset</a>
            </li>
            <li class="nav-item">
                <label class="nav-link" id="userName"></label>
                <input type="email" id="userEmail" style="display: none">
                <input type="email" id="username" style="display: none">
            </li>
            <li class="nav-item">
                <button class="nav-link" id="btnLogout">Logout</button>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center"><b>ADD DATA SO</b></h1>
                    </div>
                </div>

                <hr>

                <table id="tabelDataSoPTL" class="display" style="width:100%">
                    <button class="btn btn-success" data-toggle="modal" data-target="#dataSo"
                        style="margin-bottom: 12px">TAMBAH DATA</button>

                    <!-- The Modal -->
                    <div class="modal fade bd-example-modal-lg" id="dataSo">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">TAMBAH DATA SO</h4>
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">

                                    <form class="was-validated" method="POST">
                                        <div class="form-group">
                                            <label for="noSo">No SO :</label>
                                            <input type="text" class="form-control" id="noSo" placeholder="" name="noSo"
                                                required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="form-group">
                                            <label>Nama SO :</label>
                                            <input type="text" class="form-control" id="namaSo" placeholder=""
                                                name="namaSo" required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="noPs">No PS :</label>
                                            <input type="text" class="form-control" id="noPs" placeholder="" name="noPs"
                                                required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="noIo">No IO :</label>
                                            <input type="text" class="form-control" id="noIo" placeholder="" name="noIo"
                                                required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="alamat">Alamat :</label>
                                            <input type="text" class="form-control" id="alamat" placeholder=""
                                                name="alamat" required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" id="btnSo" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <thead>
                        <tr>
                            <th>No SO</th>
                            <th>Nama SO</th>
                            <th>No PS</th>
                            <th>No IO</th>
                            <th>Alamat</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="listDataSoPTL">

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>No SO</th>
                            <th>Nama SO</th>
                            <th>No PS</th>
                            <th>No IO</th>
                            <th>Alamat</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    {{!-- <button class="btn btn-success" data-toggle="modal" data-target="#dataSo"
                        style="margin-bottom: 12px">TAMBAH DATA</button> --}}

                    <!-- The Modal ===================================== MODAL EDIT SO-->
                    <div class="modal fade bd-example-modal-lg" id="editDataSo">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">EDIT DATA SO <br> <label id="label"></label></h4>
                                    <input type="text" id="doc" style="display:none">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form class="was-validated" method="POST">
                                        <div class="form-group">
                                            <label for="noSo">No SO :</label>
                                            <input type="text" class="form-control" id="editNoSo" placeholder=""
                                                name="noSo" required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="form-group">
                                            <label>Nama SO :</label>
                                            <input type="text" class="form-control" id="editNamaSo" placeholder=""
                                                name="namaSo" required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="noPs">No PS :</label>
                                            <input type="text" class="form-control" id="editNoPs" placeholder=""
                                                name="noPs" required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="noIo">No IO :</label>
                                            <input type="text" class="form-control" id="editNoIo" placeholder=""
                                                name="noIo" required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="alamat">Alamat :</label>
                                            <input type="text" class="form-control" id="editAlamat" placeholder=""
                                                name="alamat" required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" id="editBtnSo" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div> {{!-- =============== End Modal EDIT DATA SO =============== --}}
                </table>


                <!-- The Modal ===================================== MODAL DISPO DATA SO-->
                <div class="modal fade bd-example-modal-lg" id="dispoDataSo">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">DISPO DATA SO TO :<br> <label id="labelDispo"></label></h4>
                                <input type="text" id="docDispoSo" style="display:none">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div> {{!-- //class="was-validated" --}}
                                    <div class="form-group">
                                        <label for="noSo">Add Email :</label>
                                        <div class="form-inine">
                                            <input type="email" class="form-control" id="inputEmail"
                                                placeholder="example@email.com" name="inputEmail" required>
                                            <button type="button" id="btnAddEmail">Add Email</button>
                                        </div>
                                    </div>
                    {{!-- loader ================ --}}
                                    <div class="loader" id="loader"></div>
                                    <div class="form-group">
                                        <label><b>Send Email to :</b></label>
                                        <div>
                                            <div id="checkboxs">

                                            </div>
                                            <hr>
                                            <label><b>CC to :</b></label>
                                            <div id="checkboxsCC">

                                            </div>
                                        </div>
                                        <hr>
                                        <div>
                                            <label for="subject"><b>Subject Email :</b></label>
                                            <input type="text" class="form-control" id="textSubject" name="textSubject">
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" id="dispoBtnSo" class="btn btn-primary">Submit</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> {{!-- =============== End Modal DISPO DATA SO =============== --}}

            </div>

            {{!-- ======================= END PAGE DATA SO ============================ --}}

            {{!-- =================== Admin Aktivasi =========================== --}}
            <div class="tab-pane fade" id="menu1">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center"><b>DATA SO</b></h1>
                    </div>
                </div>
                <hr>
                <table id="tabelDataSoAdminAktivasi" class="display" style="width:100%">
                    
                    <thead>
                        <tr>
                            <th>No SO</th>
                            <th>Nama SO</th>
                            <th>No PS</th>
                            <th>No IO</th>
                            <th>Alamat</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="listDataSoAdminAktivasi">

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>No SO</th>
                            <th>Nama SO</th>
                            <th>No PS</th>
                            <th>No IO</th>
                            <th>Alamat</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>


        <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>

        <script src="https://www.gstatic.com/firebasejs/6.3.1/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-functions.js"></script>
        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>

        <script>
            var firebaseConfig = {
                apiKey: "{{dataFb.apiKey}}",
                authDomain: "{{dataFb.authDomain}}",
                databaseURL: "{{dataFb.databaseURL}}",
                projectId: "{{dataFb.projectId}}",
                storageBucket: "{{dataFb.storageBucket}}",
                messagingSenderId: "{{dataFb.messagingSenderId}}",
                appId: "{{dataFb.appId}}"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.functions().useFunctionsEmulator('http://localhost:5000')

            const db = firebase.firestore()
            const rdb = firebase.database()

            function textContentSo(doc) {
                var tr = document.createElement('tr');
                var namaSo = document.createElement('td');
                var noSo = document.createElement('td');
                var noPs = document.createElement('td');
                var noIo = document.createElement('td');
                var alamat = document.createElement('td');


                var span = document.createElement('td');
                var edit = document.createElement('button');
                var view = document.createElement('a');
                var dispo = document.createElement('button');
                $(edit).addClass('btn btn-info btn-sm')
                $(view).addClass('btn btn-success btn-sm')
                $(dispo).addClass('btn btn-warning btn-sm')
                $(edit).attr({
                    "data-toggle": "modal",
                    "data-target": "#editDataSo"
                })
                
                $(dispo).attr({
                    "data-toggle": "modal",
                    "data-target": "#dispoDataSo"
                })

                view.addEventListener('click', (e) => {
                    var val = $(e.target.parentNode.parentNode).data('id')
                    viewPageData(val)
                })


                edit.addEventListener("click", (e) => {
                    var val = $(e.target.parentNode.parentNode).data('id')

                    db.collection("Data SO").doc(val).get()
                        .then((doc) => {
                            if (doc.exists) {
                                $('#doc').val(val)
                                $('#label').text(doc.data().noSo)
                                $('#editNoSo').val(doc.data().noSo)
                                $('#editNamaSo').val(doc.data().namaSo)
                                $('#editNoPs').val(doc.data().noPs)
                                $('#editNoIo').val(doc.data().noIo)
                                $('#editAlamat').val(doc.data().alamat)
                            } else {
                                console.log("No such document")
                            }
                        }).catch((error) => {
                            console.log(error)
                        })
                })
                //tr.addEventListener("click", getElm)
                edit.textContent = "Edit";
                view.textContent = "View";
                dispo.textContent = "dispo";
                span.appendChild(edit)
                span.appendChild(view)
                span.appendChild(dispo)

                //console.log(doc)
                noSo.textContent = doc.data().noSo;
                namaSo.textContent = doc.data().namaSo;
                noPs.textContent = doc.data().noPs;
                noIo.textContent = doc.data().noIo;
                alamat.textContent = doc.data().alamat;
                

                //console.log(doc.id)

                view.setAttribute('href', window.location.href+'/'+doc.id)
                tr.appendChild(noSo);
                tr.appendChild(namaSo);
                tr.appendChild(noPs);
                tr.appendChild(noIo);
                tr.appendChild(alamat);
                tr.appendChild(span);
                listDataSoPTL.appendChild(tr);
            }

            function textContentAdminAktivasi(doc) {
                var tr = document.createElement('tr');
                var namaSo = document.createElement('td');
                var noSo = document.createElement('td');
                var noPs = document.createElement('td');
                var noIo = document.createElement('td');
                var alamat = document.createElement('td');


                var span = document.createElement('td');
                var view = document.createElement('a');
                $(view).addClass('btn btn-primary btn-sm')
                
                view.textContent = "Update";
                
                span.appendChild(view)
                
                //console.log(doc)
                noSo.textContent = doc.data().noSo;
                namaSo.textContent = doc.data().namaSo;
                noPs.textContent = doc.data().noPs;
                noIo.textContent = doc.data().noIo;
                alamat.textContent = doc.data().alamat;
                

                //console.log(doc.id)

                view.setAttribute('href', window.location.href+'/'+doc.id)
                tr.appendChild(noSo);
                tr.appendChild(namaSo);
                tr.appendChild(noPs);
                tr.appendChild(noIo);
                tr.appendChild(alamat);
                tr.appendChild(span);
                listDataSoAdminAktivasi.appendChild(tr);
            }

            function viewPageData(id) {
                var Promise = firebase.functions().httpsCallable('app/'+id)()
                .then(() => {
                    console.log("sukses")
                }).catch((err) => {
                    console.log('eror')
                    console.log(err)
                })
            }

            function getDataSo() {
                var n = 0
                db.collection('Data SO').get().then((docs) => {
                    docs.forEach((doc) => {
                        textContentSo(doc)
                        textContentAdminAktivasi(doc)
                        n++
                    })
                    $('#tabelDataSoPTL').DataTable({});
                    $('#tabelDataSoAdminAktivasi').DataTable({});
                    console.log(n)
                })
            }

            function createElmCheckBox(doc, n, id) {
                var input = document.createElement('input')
                var label = document.createElement('label')
                var span = document.createElement('span')

                $(span).css({
                    'margin': 12,
                    'font-size': 16
                })
                $(input).css('margin', 8)
                $(label).css('width', 320)

                $(input).attr('type', 'checkbox')
                if (id == "#checkboxs") {
                    $(input).attr('name', 'list')
                } else {
                    $(input).attr('name', 'listCC')
                }
                $(input).val(doc.data().email)
                label.textContent = doc.data().email

                $(span).append(label)
                $(span).append(input)
                var span2 = span
                $(id).append(span)

                if (n % 2 == 0) {
                    var br = document.createElement('br')
                    $(id).append(br)
                }
            }

            function addDataEmail() {
                $("#btnAddEmail").on("click", (e) => {
                    var email = $('#inputEmail').val()
                    db.collection("email").doc(email).set({
                            email: email.trim()
                        })
                        .then(console.log("email added"))
                })
            }

            function getDataEmail() {
                var n = 1
                db.collection("email").onSnapshot(function (snapshot) {
                    snapshot.docChanges().forEach(function (change) {
                        if (change.type === "added") {
                            createElmCheckBox(change.doc, n, "#checkboxs")
                            createElmCheckBox(change.doc, n, "#checkboxsCC")
                        }
                        if (change.type === "modified") {
                            console.log("Modified city: ", change.doc.data());
                        }
                        if (change.type === "removed") {
                            console.log("Removed city: ", change.doc.data());
                        }
                        n++
                    });
                })
            }

            function editDataSo() {
                var noSo = document.getElementById('editNoSo').value;
                var namaSo = $('#editNamaSo').val();
                var noPs = $('#editNoPs').val();
                var noIo = $('#editNoIo').val()
                var alamat = $('#editAlamat').val()
                var id = $('#doc').val()
                noSo = noSo.trim();

                db.collection("Data SO").doc(id)
                    .update({
                        noSo: noSo,
                        namaSo: namaSo,
                        noIo: noIo,
                        noPs: noPs,
                        alamat: alamat
                    }).then(() => {
                        alert("Document successfully Edited!");
                        window.location.replace(window.location.href)
                    })
                    .catch(function (error) {
                        alert("Error writing document: ", error);
                    });
            }

            function addDataSo() {
                var noSo = document.getElementById('noSo').value;
                var namaSo = $('#namaSo').val();
                var noPs = $('#noPs').val();
                var noIo = $('#noIo').val()
                var alamat = $('#alamat').val()
                noSo = noSo.trim();

                var i = 0
                var id = []
                var validate = db.collection('Data SO').where('noSo', '==', noSo).get()
                    .then((snapshot) => {
                        snapshot.forEach((doc) => {
                            console.log(doc.id)
                            if (doc.id != null) {
                                id[i] = doc.id;
                                i++;
                            }
                        })
                        //console.log(i);
                        //console.log(id);
                        if (i == 0) {
                            var data = db.collection("Data SO").doc()
                            data.set({
                                    noSo: noSo,
                                    namaSo: namaSo,
                                    noIo: noIo,
                                    noPs: noPs,
                                    alamat: alamat
                                })
                                .then(function () {
                                    alert("Document successfully written!");
                                    window.location.replace(window.location.href)
                                })
                                .catch(function (error) {
                                    alert("Error writing document: ", error);
                                });
                        } else {
                            alert("Data already exsist!")
                        }
                    })
            }

            function tmpEmail(arr, arrCC, subject, sender, username) {
                var currentDate = new Date();
                var time = new Date().toLocaleTimeString();
                var date = currentDate.getDate();
                var month = currentDate.getMonth();
                var year = currentDate.getFullYear();
                var monthDateYear = (month + 1) + "/" + date + "/" + year;

                var data = {
                    sendTo: arr,
                    CC: arrCC,
                    subject: subject,
                    from: sender,
                    date: monthDateYear,
                    time: time,
                    username: username
                }
                sendEmail(data)
            }

            function sendEmail(data) {
                firebase.functions().httpsCallable('sendmail')(data).then(function (result) {
                    // Read result of the Cloud Function
                    console.log(result.data)
                    alert(result.data)
                    $("#loader").hide()
                    //console.log(result.data.text)
                }).catch(function (error) {
                    // Getting the Error details.
                    console.log("errrorrr---")
                    console.log(error)
                    var code = error.code;
                    var message = error.message;
                    var details = error.details;
                    // ...
                });

            }
            $(document).ready((e) => {
                //get data table
                $("#loader").hide()
                firebase.auth().onAuthStateChanged(function (user) {
                    if (user) {
                        // User is signed in.
                        var displayName = user.displayName;
                        var email = user.email;
                        var emailVerified = user.emailVerified;
                        var photoURL = user.photoURL;
                        var isAnonymous = user.isAnonymous;
                        var uid = user.uid;
                        var providerData = user.providerData;
                        $('#userName').text(displayName);
                        $('#userEmail').val(email);
                        $('#username').val(displayName);
                        
                        console.log(displayName + " Online")

                    } else {
                        console.log(' Account Logout')
                    }
                });

                $('#dispoBtnSo').on('click', () => {
                    $("#loader").show()
                    var arr = []
                    $("input[name='list']:checked").each(function () {
                        arr.push(this.value)
                    });

                    var sendTo = arr;
                    arr = []

                    $("input[name='listCC']:checked").each(function () {
                        arr.push(this.value)
                    });
                    var cc = arr;
                    console.log("send to " + sendTo);
                    console.log("CC to " + cc);

                    var subject = $("#textSubject").val();
                    var user = $('#userEmail').val();
                    var username = $('#username').val();
                    tmpEmail(sendTo, cc, subject, user, username);
                    
                })

                getDataSo()
                getDataEmail()
                addDataEmail()

                $('#btnSo').on('click', () => {
                    addDataSo();
                })
                $('#editBtnSo').on('click', () => {
                    if (confirm("Are u Sure Update Data?")) {
                        editDataSo()
                    } else {
                        alert("cancel edit data")
                    }
                })

                $("#btnLogout").on('click', () => {
                    firebase.auth().signOut().then(function () {
                        var user = firebase.auth().currentUser;
                        user.delete().then(function () {
                            // User deleted.
                            console.log("user deleted")
                        }).catch(function (error) {
                            // An error happened.
                        });
                        // Sign-out successful.
                        console.log("user logout")
                    }).catch(function (error) {
                        // An error happened.
                        console.log(error)
                    });
                })
            })
        </script>

</body>

</html>