<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>

    <button id="logout">LOGOUT</button>
    <h1 id="username"></h1>
    <h1 id="email"></h1>
    <h1 id="uid"></h1>
    <img src="" id="img" height="200px" width="200px">
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>
    <script>
        var firebaseConfig = {
            apiKey: "`{{data.apiKey}}`",
            authDomain: "{{data.authDomain}}`",
            databaseURL: "{{data.databaseURL}}`",
            projectId: "{{data.projectId}}`",
            storageBucket: "{{data.storageBucket}}`",
            messagingSenderId: "{{data.messagingSenderId}}`",
            appId: "{{data.appId}}`"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                // User is signed in.
                var displayName = user.displayName;
                var email = user.email;
                var emailVerified = user.emailVerified;
                var photoURL = user.photoURL;
                var isAnonymous = user.isAnonymous;
                var uid = user.uid;
                var providerData = user.providerData;
                document.getElementById('username').innerHTML = displayName
                document.getElementById('email').innerHTML = email
                document.getElementById('uid').innerHTML = uid
                document.getElementById('img').src = photoURL
                console.log(user.displayName)
                console.log('login state change')

            } else {
                console.log(' logout state change')
            }
        });

        $(document).ready(() => {
            var url = window.location.href;
            console.log('-------------------------')
            console.log(url)

            $('#logout').click(() => {
                firebase.auth().signOut().then(() => {
                    console.log("logout google email")
                    window.location.replace(
                        'http://localhost:5000/iconproject-f66b2/us-central1/App/')
                }).catch(function (error) {
                    console.log(error)
                    console.log(error.message)
                });
            })
        })
    </script>
</body>

</html>